/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.cueseek.core.api.wire

import dev.cueseek.core.api.wire.CpuMetrics
import dev.cueseek.core.api.wire.MemoryMetrics
import dev.cueseek.core.api.wire.StorageMetrics
import dev.cueseek.core.api.wire.ThermalMetrics

import kotlinx.serialization.Serializable
import kotlinx.serialization.SerialName
import kotlinx.serialization.Contextual

/**
 * The host machine's own vitals.  Separate from `System` on purpose. `System` is identity — it is delivered once, at connect, and never changes for the life of the process. These change continuously, so they travel as their own `host_updated` stream event. Putting them inside `System` would have frozen them at the moment the client connected, which on a console whose entire premise is that staleness must be visible is the worst possible failure.  **Every field but `collected_at` is optional, and absence means \"could not read\", never zero.** Hardware and kernels differ: a machine may expose no temperature sensors, a container may see no `/proc/stat`, and the first collection after startup has no previous CPU sample to difference against. A client must render nothing for an absent field rather than rendering a zero, which would report an idle CPU on a machine that never answered. 
 *
 * @param collectedAt When these values were read. Required, because a metric without a clock cannot be judged stale, and every other field here is worthless once it is. 
 * @param uptimeSeconds How long the host has been up.
 * @param cpu 
 * @param memory 
 * @param storage One entry per filesystem the operator asked to be watched.  Absent means the agent could not read any of them. An empty array means it looked and none were readable — a configured mount that has gone away is information, and it is not the same as never having asked. 
 * @param thermal Temperature sensors, where the hardware exposes them.  Absent means the agent could not enumerate sensors at all. An empty array means it enumerated them and this machine has none worth reporting, which is an ordinary answer on consumer hardware and in virtual machines. 
 */
@Serializable

data class HostMetrics (

    /* When these values were read. Required, because a metric without a clock cannot be judged stale, and every other field here is worthless once it is.  */
    @SerialName(value = "collected_at")
    val collectedAt: kotlin.String,

    /* How long the host has been up. */
    @SerialName(value = "uptime_seconds")
    val uptimeSeconds: kotlin.Long? = null,

    @SerialName(value = "cpu")
    val cpu: CpuMetrics? = null,

    @SerialName(value = "memory")
    val memory: MemoryMetrics? = null,

    /* One entry per filesystem the operator asked to be watched.  Absent means the agent could not read any of them. An empty array means it looked and none were readable — a configured mount that has gone away is information, and it is not the same as never having asked.  */
    @SerialName(value = "storage")
    val storage: kotlin.collections.List<StorageMetrics>? = null,

    /* Temperature sensors, where the hardware exposes them.  Absent means the agent could not enumerate sensors at all. An empty array means it enumerated them and this machine has none worth reporting, which is an ordinary answer on consumer hardware and in virtual machines.  */
    @SerialName(value = "thermal")
    val thermal: kotlin.collections.List<ThermalMetrics>? = null

) {


}

